<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <body>
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 15px; position: ">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto">
                      <%  if (!CurrentUser) { %>
                            <li class="nav-item ">
                              <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/register">Sign up</a>
                            </li>
                       <% } else {  %>
                            <li class="nav-item ">
                              <a class="nav-link" href="/">Home</a>
                            </li>
                            
                            <li class="nav-item">
                              <a class="nav-link" href="/logout">Logout</a>
                            </li>
                       <% } %>
                        
                      </ul>
                    </div>
                  </nav>
                  
                  <% if(success && success.length > 0) { %>
                    <div class="container"> 
                      <div class="alert alert-success" role="alert"> <p><%= success %></p> </div>
                    </div>
                  <% } %>
                  

                  <% if(error && error.length > 0) { %>
                    <div class="container"> 
                      <div class="alert alert-success" role="alert"> <p><%= error %></p> </div>
                    </div>
                  <% } %>
                  