.card {
    background-color: lightgrey !important;
}

p#campdesc {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

html body{
margin-top: 0rem;
overflow: scroll;
min-height: 100vh;
min-width: 100vw;
display: flex;
flex-direction: column;
}

form#delete, form#deleteBtn {
    display: inline;
}

#homepage {
    text-align: center;
     /* position: relative; To ensure the z-index styling takes effect, the position of the item the styling is being applied to must be set to zero, otherwise it won't work*/
    margin-top: 9rem;
    
}

h6#campname {
    display: inline;
}

p#campCreator {
    margin-bottom: 0rem;
}

div.img-thumbnail {
    padding: 0rem;
}

footer#footer {
    background-color: #343a40;
    padding: 10px;
    margin-top: auto;
}

nav#navbar {
    width: 100%;
    /* position: fixed; */
    top: 0;
    margin-bottom: 1.5rem !important;
    margin-top: 0rem;
}

.container {
    margin-bottom: 1.5rem;
}


