<% include partials/header.ejs %>

<div id="homepage">
    <h1>Welcome to Yelpcamp!</h1>
    <a class="btn btn-lg btn-success"  href="/campgrounds">Campgrounds</a>
</div>


<% include partials/footer.ejs %>