<% include partials/header.ejs %>

<div id="homepage" class="row">
    <div class="col-12">
        <h1>Welcome to Yelpcamp!</h1>
        <a class="btn btn-lg btn-success"  href="/campgrounds">Campgrounds</a>
    </div>
    
</div>


<% include partials/footer.ejs %>