<% include partials/header.ejs %>

<div class="container mt-4">

<header class="jumbotron ">
    <h1>Welcome to YelpCamp!</h1>
    <p>The best campgrounds all over the world</p>
    <p>
        <a class="btn btn-danger btn-sm" href="/campgrounds/new">Add new campground</a>
    </p>
</header>

    <div class="row">
        <% campgrounds.forEach(function (campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                        <img class="img-fluid mx-auto d-block" src="<%= campground.image %>"> 
                    <div class="caption mb-0">
                        <h6 class="text-center"><%= campground.name %></h6>
                        <hr class="mt-0">
                    </div>
                    <div class="text-center">
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-success btn-sm ">More info</a>
                    </div>
                    
                </div>
            </div>
                
         <% }); %>
    </div>         

</div>

<% include partials/footer.ejs %>