<% include partials/header %>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="enter username">
    <input type="password" name="password" placeholder="enter password">
    <button>Submit</button>
</form>

<% include partials/footer %>